.main-header {
  a{
    color: white;
  }
}

.gameContent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 10px;

  .gameBoard, .gameList {
    flex: 1 1 50%;
    margin: 10px 0;
    border: 2px solid #e6e6e6;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
  }

  .gameBoard {
    border-radius: 10px 0px 0px 10px;
  }

  .gameList {
    border-radius: 0px 10px 10px 0px;
  }
}
