<div class="gameContent" role="main">

    <div class="gameBoard">
        <game-board></game-board>
    </div>

    <div class="gameList">
        <game-winner-list></game-winner-list>
    </div>

</div>

### Для успешного прохождения нашего теста вы должны соответствовать следующим критериям:

<br> - игра ДОЛЖНА работать без ошибок
<br> - предустановки сложности игры, которые вы можете получить с помощью этой конечной точки this-domain / game-settings. Это должен быть запрос к серверу, а НЕ просто копирование и вставка данных.
> Эти данные представляют собой массив объектов с двумя полями:
<br> - field - содержат размер игрового поля. Должен быть квадратной формы
<br> - delay - время в миллисекундах

<br> - данные для таблицы лидеров вы можете получить из этого домена / победителей. Также это должна быть просьба.

<br> - когда кто-то выигрывает, вы должны отправить запрос на сервер с JSON, который содержит два поля победителя и дату


<br> - пользователь устанавливает сложность игры и название
<br> - Нажмите кнопку PLAY
<br> - через заданный промежуток времени (в поле задержки) случайный квадрат на поле подсвечивается синим цветом
<br> - если пользователю удалось за это время щелкнуть по квадрату - он становится зеленым, игрок получает очко, а поле меняет цвет на зеленый
<br> - если нет, поле становится красным и точка переходит в компьютер
<br> - когда игрок или компьютер закрашивает> 50% всех возможных квадратов в свой цвет - он становится победителем
<br> - между кнопками управления и игровым полем появляется надпись, которую выиграл игрок (имя, которое он ввел) / компьютер
<br> - кнопка PLAY изменяет заголовок на PLAY AGAIN
<br> - результат игры необходимо отправить на сервер на этой конечной точке this-domain / winners в формате JSON с двумя полями, победителем и датой обеих строк.
<br> - результаты в таблице должны обновляться автоматически